<nav>
  <div class="nav-wrapper">
  	<a href="#" data-activates="slide-out" class="button-collapse waves-effect"><i class="mdi-navigation-menu"></i></a>
  	<a href="{{@blog.url}}" class="brand-logo waves-effect">{{@blog.title}}</a>
	</div>
  <ul id="slide-out" class="side-nav">
    {{navigation}}
  </ul>
</nav>
<!--
<nav>
  <ul class="side-nav" id="slide-nav">
    {{navigation}}
  </ul>
</nav>
<header role="banner">
	<nav id="main-nav">
		<div class="nav-wrapper">
			<button data-activates="slide-nav" class="button-collapse waves-effect"><i class="mdi-navigation-menu"></i></button>
			<a href="{{@blog.url}}" class="brand-logo waves-effect">{{@blog.title}}</a>
			<ul class="top-nav hide-on-med-and-down">
				{{navigation}}
			</ul>
		</div>
	</nav>
</header>
-->